@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
body{
    font-family: 'Montserrat';
    background-color: #FBFBFF;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background-color: #20BF55;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}
a{
    color: #FBFBFF;
    text-decoration: none;
    font-weight: 700;
}
a:hover{
    color: #757575;
}
.background{
    height: 100vh;
    background-size: cover;
    background-position:  center center;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background-color: #FBFBFF;
    padding: 20px 35px 30px 35px;
    border-radius: 20px;
    border:  2px solid #20BF55;
}
form h1{
    font-size: 25px;
}
input{
    width: 400px;
    display: block;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 10px;
    border: none;
    background-color: #f3f3f3;
    outline: none;
    margin-top: 20px;
}
input:focus{
    box-shadow: 1px 1px 8px #20BF55;
}
input[type="text"]{
    margin-top: 10px;
}
input[type="submit"]{
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    border: none;
    background-color: #20BF55;
}
input[type="submit"]:hover{
    background-color: #757575;
}input[type="submit"]:active{
    background-color: #FBFBFF;
    color: #20BF55;
}
.message{
    color: #0B4F6C;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
}