<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <title>Public</title>
</head>
<body>
    <nav>
        <a href="/Sign-In">Sign-In</a>
    </nav>
    <div class="background">
        <div>
            <h1>Welcome To My Web</h1>
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos in sapiente tenetur excepturi. Cupiditate ipsam illo consectetur asperiores nam quas beatae possimus odio eum mollitia facere minima commodi, esse quae.</p>
        </div>
    </div>
</body>
</html>