<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Sign-In</title>
</head>
<body>
    <nav>
        <a href="/Sign-Up">Sing-Up</a>
    </nav>
    <div class="background">
        <form action="/Sign-In" method="post">
            <h1>Iniciar Sesión</h1>
            <% if (message) { %>
                <p class="message"><%= message %></p>
              <% } %>              
            <input type="text" placeholder="Username" required name="username">
            <input type="password" placeholder="Password" required name="password">
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>